# {{appName}}

{{#generateApiDocs}}

All URIs are relative to *{{{basePath}}}*

Class | Method | HTTP request | Description
------------ | ------------- | ------------- | -------------
{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}*{{classname}}* | [**{{operationId}}**](#{{summary}}) | **{{httpMethod}}** {{path}} | {{#summary}}{{{summary}}}{{/summary}}{{^summary}}{{{notes}}}{{/summary}}
{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}
{{/generateApiDocs}}


## 接口
{{#apiInfo}}
{{#apis}}
{{> api}}
{{/apis}}
{{/apiInfo}}


## 模型
{{#models}}
{{#model}}
### {{{name}}}

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
{{#vars}}**{{name}}** |{{#isArray}}[**{{dataType}}<{{complexType}}>**](#{{complexType}}){{/isArray}}{{#isModel}}[**{{dataType}}**](#{{complexType}}){{/isModel}}{{^isArray}}{{^isModel}}**{{dataType}}**{{/isModel}}{{/isArray}} |{{description}} | {{^required}}[optional] {{/required}}{{#readOnly}}[readonly] {{/readOnly}}{{#defaultValue}}{{{.}}}{{/defaultValue}}
{{/vars}}
{{/model}}
{{/models}}
