import { request } from '@/services/index';


{{#operations}}
{{#operation}}

/**
* {{summary}}
**/
export const {{operationIdOriginal}} = async ({{#allParams}}{{paramName}}{{^required}}?{{/required}}: {{{dataType}}} {{^-last}}, {{/-last}}{{/allParams}}) => {
{{#isGet}}
    return request.getJSON<{{#responseDataModel}}{{{dataType}}}{{^dataType}}any{{/dataType}}{{/responseDataModel}}{{^responseDataModel}}any{{/responseDataModel}}>(`{{{path}}}`{{#bodyParams}}{{#-first}},{ {{/-first}} {{paramName}}{{#-last}} }{{/-last}}{{/bodyParams}});
{{/isGet}}
{{#isPut}}
    return request.putJSON<{{#responseDataModel}}{{{dataType}}}{{^dataType}}any{{/dataType}}{{/responseDataModel}}{{^responseDataModel}}any{{/responseDataModel}}>(`{{{path}}}`{{#bodyParams}}{{#-first}},{ {{/-first}} {{paramName}}{{#-last}} }{{/-last}}{{/bodyParams}});
{{/isPut}}
{{#isPost}}
    return request.postJSON<{{#responseDataModel}}{{{dataType}}}{{^dataType}}any{{/dataType}}{{/responseDataModel}}{{^responseDataModel}}any{{/responseDataModel}}>(`{{{path}}}`{{#bodyParams}}{{#-first}},{ {{/-first}} {{paramName}}{{#-last}} }{{/-last}}{{/bodyParams}});
{{/isPost}}
{{#isDelete}}
    return request.deleteJSON<{{#responseDataModel}}{{{dataType}}}{{^dataType}}any{{/dataType}}{{/responseDataModel}}{{^responseDataModel}}any{{/responseDataModel}}>(`{{{path}}}`{{#bodyParams}}{{#-first}},{ {{/-first}} {{paramName}}{{#-last}} }{{/-last}}{{/bodyParams}});
{{/isDelete}}
{{#isPatch}}
    return request.patchJSON<{{#responseDataModel}}{{{dataType}}}{{^dataType}}any{{/dataType}}{{/responseDataModel}}{{^responseDataModel}}any{{/responseDataModel}}>(`{{{path}}}`{{#bodyParams}}{{#-first}},{ {{/-first}} {{paramName}}{{#-last}} }{{/-last}}{{/bodyParams}});
{{/isPatch}}
};
{{/operation}}
{{/operations}}